<%-include('base_header') -%>

<p>O livro <%= livro.titulo %> foi cadastrado com sucesso! </p>
<a class="" href="/cadastroLivro"><button class="btn">Voltar</button></a>
</body>
<%- include('base_footer') -%>