<div class="pesquisa">
    <header>
        <nav>
            <form action="pesquisar" method="get">
                <input class="pesquisa-input" type="text" name="termoPesquisa" placeholder="Digite o titulo ou autor do livro">
                <input class="btn-novo" type="submit" value="Pesquisar"/>
              </form>
        </nav>
    </header>
</div>
<div class="charme">
<hr>
</div>
