<%-include('base_header') -%>
<div>
    <span>Nome:</span>
    <input type="text" name="" id="">

    <span>Email:</span>
    <input type="email" name="" id="" placeholder="exemplo@gmail.com">

    <span>Senha:</span>
    <input type="password" name="" id="">
    <span>Confirmar senha:</span>
    <input type="password" name="" id="">
    <input class="btn" type="button" name="" id="" value="Cadastrar.">
    <%- include('btn_voltar') -%>

</div>
<%- include('base_footer') -%>