<%-include('base_header') -%>

<div>
    <span>Digite nome da categoria que deseja cadastrar: </span>
    <input type="text" name="" id="" placeholder="ex: Poesia">
    <p>Fazer verificação se a categoria existe ou não no banco de dados!!! Se nao existir, ele cadastra, porem se existir tem que ~
        avisar que a categoria não pode ser cadastrada pq ja tem uma com o mesmo nome;
    </p>
    <a class="" href="/cadastroLivro"><button class="btn">Voltar</button></a>
</div>

<%- include('base_footer') -%>