<%-include('base_header') -%>
    <div>
        <span class="">E-mail:</span> 
        <input class="" type="email" name="" id="" placeholder="exemplo@gmail.com">

        <span class="">Senha:</span>
        <input class="" type="password" name="" id="">

        <a class="" href="/admin"><button class="btn">Entrar</button></a>
    
        <%- include('btn_voltar') -%>

        <p>Não possui cadastro? <a href="/cadastro">Clique aqui</a></p>
    </div>
    
<%- include('base_footer') -%>

